# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi
uvicorn
#torch
#torchvision
#torchaudio
langchain
langchain_community
langchain_ollama
langchain_core
pydantic
chromadb
pypdf







 